@model Withyun.ViewModels.LoginViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="part-login-container">
            <a href="@Url.Action("Index","Home")"><img width="100" height="30" src="~/images/logo-login@2x.png" /></a>
            @using (Ajax.BeginForm("PartialLogin", "Account", new AjaxOptions { OnSuccess = "loginSuccess" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "邮箱" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "密码" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="form-options clearfix">
                    @Html.ActionLink("忘记密码？", "ForgotPassword", null, new { @class = "pull-right" })
                </div>
                <div class="social-login clearfix">
                    <button type="submit" class="btn btn-primary">登录</button>
                </div>
            }

            <p class="signup">
                还没有账户？ @Html.ActionLink("立即注册", "Register")
            </p>
        </div>
    </div>
</div>