@model Withyun.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "修改密码";
}

<div class="page-title">
    <h3>
        @ViewBag.Title
    </h3>
</div>
<div class="row">
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item active">
                <a href="@Url.Action("ChangePassword", "Manage", null)">
                    <p>
                        修改密码
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("ChangeEmail", "Manage", null)">
                    <p>
                        修改邮箱
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("UploadAvatar", "Manage", null)">
                    <p>
                        头像设置
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("UploadAlipay", "Manage", null)">
                    <p>
                        支付宝收款二维码
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("UploadWechat", "Manage", null)">
                    <p>
                        微信收款二维码
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9">
        <div class="widget-container fluid-height clearfix">
            <div class="heading">
                <i class="fa fa-reorder"></i>@ViewBag.Title
            </div>
            <div class="widget-content padded">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m=>m.OldPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m=>m.NewPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m=>m.ConfirmPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-3">
                            <input type="submit" value="修改密码" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

