@model Withyun.Web.Models.IndexViewModel
@using System.Security.Claims
@{
    ViewBag.Title = "账号设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="page-title">
    <h3>
        @ViewBag.Title
    </h3>
</div>

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">
                <a asp-controller="Manage" asp-action="ChangePassword">
                    <p>
                        修改密码
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Manage" asp-action="ChangeEmail">
                    <p>
                        修改邮箱
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Manage" asp-action="UploadAvatar">
                    <p>
                        头像设置
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Manage" asp-action="UploadAlipay">
                    <p>
                        支付宝收款二维码
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Manage" asp-action="UploadWechat">
                    <p>
                        微信收款二维码
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="widget-container fluid-height clearfix">
            <div class="heading">
                <i class="fa fa-reorder"></i>@ViewBag.Title
            </div>
            <div class="widget-content padded">
                <p class="text-success">@ViewBag.StatusMessage</p>
                <div class="alert alert-info">
                    邮箱：@Model.Email <a asp-action="ChangeEmail" class="btn btn-primary">修改</a>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="alert alert-info">
                            @if (Model.HasAlipay)
                            {
                                <p>
                                    <span>当前绑定的支付宝收款二维码：</span>
                                </p>
                                <p>
                                    <img src="@Url.Content("~/images/alipay/"+userId+".jpg")" />
                                </p>
                                <p>
                                    <a asp-action="UploadAlipay" class="btn btn-primary">修改</a>
                                </p>

                            }
                            else
                            {
                                <span>尚未绑定支付宝收款二维码</span>
                                <a asp-action="UploadAlipay" class="btn btn-primary">立即绑定</a>
                                <br />
                                <a asp-action="AlipayTutorial"class = "text-warning" target = "_blank">怎样获得支付宝收款二维码？</a>
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="alert alert-info">
                            @if (Model.HasWechat)
                            {
                                <p>
                                    <span>当前绑定的微信收款二维码：</span>
                                </p>
                                <p>
                                    <img src="@Url.Content("~/images/wechat/" + userId + ".jpg")" />
                                </p>
                                <p>
                                    <a asp-action="UploadWechat" class="btn btn-primary">修改</a>
                                </p>

                            }
                            else
                            {
                                <span>尚未绑定微信收款二维码</span>
                                <a asp-action="UploadWechat" class="btn btn-primary">立即绑定</a>
                                <a asp-action="WechatTutorial" class="text-warning" target="_blank">怎样获得微信收款二维码？</a>
                            }
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>

