@model Withyun.Web.ViewModels.IndexViewModel
@using System.Security.Claims
@{
    ViewBag.Title = "账号设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="page-title">
    <h3>
        @ViewBag.Title
    </h3>
</div>

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="@Url.Action("ChangePassword", "Manage", null)">
                    <p>
                       修改密码
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("ChangeEmail", "Manage", null)">
                    <p>
                        修改邮箱
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("UploadAvatar", "Manage", null)">
                    <p>
                        头像设置
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("UploadAlipay", "Manage", null)">
                    <p>
                        支付宝收款二维码
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("UploadWechat", "Manage", null)">
                    <p>
                        微信收款二维码
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="widget-container fluid-height clearfix">
            <div class="heading">
                <i class="fa fa-reorder"></i>@ViewBag.Title
            </div>
            <div class="widget-content padded">
                <p class="text-success">@ViewBag.StatusMessage</p>
                <div class="alert alert-info">
                    邮箱：@Model.Email @Html.ActionLink("修改", "ChangeEmail", null, new {@class="btn btn-primary"})
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="alert alert-info">
                            @if (Model.HasAlipay)
                            {
                                <p>
                                    <span>当前绑定的支付宝收款二维码：</span>
                                </p>
                                <p>
                                    <img src="@Url.Content("~/images/alipay/"+userId+".jpg")" />
                                </p>
                                <p>
                                    @Html.ActionLink("修改", "UploadAlipay", null, new { @class = "btn btn-primary" })
                                </p>
                                
                            }
                            else
                            {
                                <span>尚未绑定支付宝收款二维码</span> 
                                @Html.ActionLink("立即绑定", "UploadAlipay", null, new { @class = "btn btn-primary" }) <br/>
                                @Html.ActionLink("怎样获得支付宝收款二维码？", "AlipayTutorial", null, new { @class = "text-warning", target = "_blank" })
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="alert alert-info">
                            @if (Model.HasWechat)
                            {
                                <p>
                                    <span>当前绑定的微信收款二维码：</span>
                                </p>
                                <p>
                                    <img src="@Url.Content("~/images/wechat/" + userId + ".jpg")" />
                                </p>
                                <p>
                                    @Html.ActionLink("修改", "UploadWechat", null, new { @class = "btn btn-primary" })
                                </p>

                            }
                            else
                            {
                                <span>尚未绑定微信收款二维码</span> 
                                @Html.ActionLink("立即绑定", "UploadWechat", null, new { @class = "btn btn-primary" }) <br/>
                                @Html.ActionLink("怎样获得微信收款二维码？", "WechatTutorial", null, new { @class = "text-warning", target = "_blank" })
                            }
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>

