
@model IPagedList<Blog>

@{
    ViewBag.Title = "Ta的分享";
}

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("ProfileFollow", new { id = ViewBag.userId })
    </div>
    <div class="col-md-9">
        <div class="widget-container fluid-height clearfix">
            <div class="widget-content padded clearfix">
                <form asp-controller="Profile" asp-action="Index" method="get" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-1">标题</label>
                        <div class="col-md-5">
                            <input name="BlogTitle" value="@ViewBag.BlogTitle" class="form-control" placeholder = "请输入标题"/>
                        </div>
                        <div class="col-md-2">
                            <input type="hidden" name="id" value="@ViewBag.UserId" />
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>搜索</button>
                        </div>
                    </div>
                </form>
                <hr />
                <table class="table table-striped table-hover">
                    <tr>
                        <th>
                            标题
                        </th>
                        <th width="20%">
                            发布时间
                        </th>
                        <th width="20%">
                            操作
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeStamp)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">查看</a>
                            </td>
                        </tr>
                    }
                </table>
                第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，共 @Model.PageCount 页

                @Html.PagedListPager(Model, page => Url.Action("Index",
                        new
                        {
                            page,
                            BlogTitle = ViewBag.BlogTitle,
                            id=ViewBag.UserId
                        }))
            </div>
        </div>
    </div>
</div>

