@model Withyun.ViewModels.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    ViewBag.Title = "找回密码";
    ViewBag.BodyClass = "login1";
}

    <!-- Login Screen -->
<div class="login-wrapper">
    <div class="login-container">
        <a href="@Url.Action("Index","Home")">
            <img src="~/images/logo-login@2x.png" />
        </a>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                重设密码邮件会发送至您的邮箱
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "邮箱" })
                @Html.ValidationMessageFor(model=>model.Email)
            </div>
            <div class="form-options clearfix">
                <button class="btn btn-primary">找回密码</button>
            </div>
        }
    </div>
</div>
<!-- End Login Screen -->