@model Report
@{
    ViewBag.Title = "确认举报内容";
}

<div>
    <h4>LinkInvalide</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Blog.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blog.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportType)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirm" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

