@using PagedList.Mvc
@model PagedList.IPagedList<Domain.Models.Blog>

@{
    ViewBag.Title = "我的分享";
}

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item active">
                <a href="@Url.Action("Manage", "Blog", null)">
                    <p>
                        我的分享
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("Invalide", "Blog", null)">
                    <p>
                        链接失效的分享
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("Report", "Blog", null)">
                    <p>
                        内容违规的分享
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("Verify", "Blog", null)">
                    <p>
                        待审核的分享
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("Index", "Collection", null)">
                    <p>
                        我的收藏
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("Index", "Follow", null)">
                    <p>
                        我的关注
                    </p>
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("Index", "Notification", null)">
                    <p>
                        我的消息
                    </p>
                </a>
            </li>
            @if (User.IsInRole("admin"))
            {
                <li class="list-group-item">
                    <a href="@Url.Action("Manage", "Recomment", new {category = 0})" target="_blank">
                        <p>
                            推荐管理
                        </p>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="@Url.Action("Index", "Report")" target="_blank">
                        <p>
                            举报审核
                        </p>
                    </a>
                </li>
                <li class="list-group-item">
                <a href="@Url.Action("Index", "LinkInvalid")" target="_blank">
                    <p>
                        链接无效审核
                    </p>
                </a>
            </li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="widget-container fluid-height clearfix">
            <div class="widget-content padded clearfix">
                @using (Html.BeginForm("Manage", "Blog", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label class="control-label col-md-1">标题</label>
                        <div class="col-md-5">
                            @Html.TextBox("BlogTitle", ViewBag.BlogTitle as string, new { @class = "form-control", placeholder = "请输入标题" })
                        </div>
                        <div class="col-md-5">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>搜索</button>
                            <a href="@Url.Action("Edit")" class="btn btn-success"><i class="fa fa-plus"></i>添加分享</a>
                        </div>
                    </div>
                }
                <hr />
                <table class="table table-striped table-hover">
                    <tr>
                        <th>
                            标题
                        </th>
                        <th width="20%">
                            发布时间
                        </th>
                        <th width="20%">
                            操作
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeStamp, "LongDateMinute")
                            </td>
                            <td>
                                @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("查看", "Details", new { id = item.Id }) |
                                @Html.ActionLink("删除", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </table>
                第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，共 @Model.PageCount 页

                @Html.PagedListPager(Model, page => Url.Action("Manage",
                        new
                        {
                            page,
                            BlogTitle = ViewBag.BlogTitle
                        }))
            </div>
        </div>
    </div>
</div>

